@font-face {
  font-family: 'Copyright Klim Type Foundry';
  src: url('https://event-centar.vercel.app/fonts/Sohne-Leicht.eot');
  src: url('https://event-centar.vercel.app/fonts/Sohne-Leicht.eot?#iefix') format('embedded-opentype'),
      url('https://event-centar.vercel.app/fonts/Sohne-Leicht.woff2') format('woff2'),
      url('https://event-centar.vercel.app/fonts/Sohne-Leicht.woff') format('woff'),
      url('https://event-centar.vercel.app/fonts/Sohne-Leicht.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Stylish';
  src: url('https://event-centar.vercel.app/fonts/Stylish.eot');
  src: url('https://event-centar.vercel.app/fonts/Stylish.eot?#iefix') format('embedded-opentype'),
      url('https://event-centar.vercel.app/fonts/Stylish.woff2') format('woff2'),
      url('https://event-centar.vercel.app/fonts/Stylish.woff') format('woff'),
      url('https://event-centar.vercel.app/fonts/Stylish.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Frunchy';
  src: url('https://event-centar.vercel.app/fonts/Frunchy-Regular.eot');
  src: url('https://event-centar.vercel.app/fonts/Frunchy-Regular.eot?#iefix') format('embedded-opentype'),
      url('https://event-centar.vercel.app/fonts/Frunchy-Regular.woff2') format('woff2'),
      url('https://event-centar.vercel.app/fonts/Frunchy-Regular.woff') format('woff'),
      url('https://event-centar.vercel.app/fonts/Frunchy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #F6F6F3;
  color: #2B2E34; /*font color*/
  margin: 0;
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
}

footer {
  padding-left: 10px;
  padding-right: 10px;
}

  .list {
   height: 350px;
    }

  .facility {
   position: relative;
    }

  .center {
    margin: 0 auto;
  }

  .contact-title {
    color: #2B2E34;
    font-family: Stylish;
    text-align: center;
    font-size: 100px;
  }

  .facility::before {
    position: absolute;
    content: '';
    background-image: url('/img/tick.svg');
    background-repeat: no-repeat;
    bottom: 8px;
    left: -15px;
    height: 12px;
    width: 12px;
    }

  .nav-toggle {
    outline: none;
    border: none;
    width: 26px;
    height: 2px;
    position: relative;
    outline: none;
    border: none;
    transition: all 0.3s;
    background-color: #9C968D;
    border-radius: 2px;
  }

  .nav-toggle::before {
    position: absolute;
    content: "";
    width: 26px;
    height: 2px;
    transition: all 0.3s;
    background-color: #9C968D;
    border-radius: 2px;
    top: 5px;
    left: 0;
  }

  .nav-toggle::after {
    position: absolute;
    content: "";
    width: 26px;
    height: 2px;
    transition: all 0.3s;
    background-color: #9C968D;
    border-radius: 2px;
    bottom: 5px;
    left: 0;
  }

  .nav-toggle--close {
    background-color: transparent;
  }

  .nav-toggle--close::before {
    transform: rotate(45deg);
    top: 0;
  }
  .nav-toggle--close::after {
    transform: rotate(-45deg);
    top: 0;
  }

  header {
    background-image: url('/img/logo.svg');
    background-repeat: no-repeat;
    background-position: 94% 45%;
    background-size: 15%;
    background-color: #F6F6F3;
  }

  .menu {
    background-color: #F6F6F3;
    display: none
  }

  .menu--opened {
   display: block;
  }

  body.menu--opened {
    overflow-y: hidden;
  }

  .menu-item {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid transparent;
  }

  .menu-item:active {
   color: #2B2E34;
   border-bottom: 1px solid #2B2E34;
  }

  .menu-item:hover {
   color: #2B2E34;
   border-bottom: 1px solid #2B2E34;
  }

  .main-color {
    color: #9C968D;
  }

  .little-font {
    font-size: 16px;
    font-family: Söhne;
    font-weight: Leicht;
    }

  .big-font {
    color: #2B2E34;
    font-family: Stylish;
    text-align: center;
    font-size: 70px;
    }

  .upper-font {
    font-family: Frunchy;
    text-transform: uppercase;
    font-size: 28px;
    line-height: 26px;
    }

  .upper-big-font {
    font-family: Frunchy;
    text-transform: uppercase;
    font-size: 120px;
    line-height: 100px;
  }

  .upper-little-font {
    font-family: Frunchy;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 22px;
  }

  .upper-middle-font {
    font-family: Frunchy;
    text-transform: uppercase;
    font-size: 75px;
    line-height: 72px;
  }

  .about-title {
    color: #2B2E34;
    font-family: Stylish;
    text-align: center;
    margin-top: 20px;
    font-size: 170px;
    line-height: 120px;
  }

  .wedding-headline {
    font-family: Stylish;
    font-size: 190px;
    line-height: 120px;
    bottom: 0px;
    left: 10%;
  }

  .page-section-title {
    font-family: Stylish;
    font-size: 190px;
    line-height: 130px;
    bottom: 0px;
    padding-top: 50px;
  }

  .button {
    border: 1px solid #2B2E34;
    outline: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 35px;
    padding-right: 35px;
    }

  .button:hover {
    border: 1px solid #2B2E34;
    background-color: #2B2E34;
    color: white;
  }

  .black-button {
    background-color: #2B2E34;
    color: #F6F6F3;
    border: none;
    outline: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 35px;
    padding-right: 35px;
    border: 1px solid #2B2E34;
    }

  .black-button:hover {
    border: 1px solid #2B2E34;
    background-color: white;
    color: #2B2E34;
  }


  /*for line between the page sections, bc line is wider than page sections*/
  .inbetween-line {
    width: 100%;
    height: 1px;
    background-color: #2B2E34;
  }

  .inbetween-line-light {
    width: 100%;
    height: 1px;
    background-color: #9C968D;
  }

  .animated-line {
    animation: load 1s normal forwards;
  }

  @keyframes load {
    0% { width: 0; }
    100% { width: 100%; }
  }

  @media (min-width: 768px) {
    header {
      background-size: 7%;
    }

    body {
      padding-left: 20px;
      padding-right: 20px;
    }

    /*class for horizontal paddings on each section*/
    .wrapper {
      padding-left: 30px;
      padding-right: 30px;
    }

    .buttons-wrapper {
      margin: 0 auto;
      max-width: 1000px;
    }
  }

  @media (min-width: 1024px) {
    .wrapper {
      padding-left: 50px;
      padding-right: 50px;
    }

    .upper-little-font {
      font-size: 26px;
      line-height: 28px;
    }

    .upper-font {
      font-size: 42px;
      line-height: 40px;
    }

    header {
      background-image: none;
    }

    .menu {
    display: block;
  }

    .nav-toggle {
      display: none;
    }

    .menu {
    background-image: url('/img/logo.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 15%;
  }

  .menu-item {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .big-font {
    font-size: 120px;
    line-height: 165px;
    position: relative;
    z-index: 10;
    margin-bottom: -70px;
  }

  .even {
    margin-left: 50%;
  }

  .headline {
    position: absolute;
    top: 150px;
    right: 120px;
    width: 30%;
    }
  }

  @media (min-width: 1280px) {
   body {
     padding-right: 90px;
     padding-left:  90px;
   }

   .wrapper {
    padding-left: 80px;
    padding-right: 80px;
  }

  .team-member:nth-child(even) {
    margin-left: 60%;
  }

  .even {
    margin-left: 60%;
  }

  .headline {
    position: absolute;
    top: 250px;
    right: 120px;
    width: 30%;
    }
  }

  @media (min-width: 1440px) {

body {
  padding-right: 100px;
  padding-left: 100px;
}

    .upper-font {
      font-family: Frunchy;
      text-transform: uppercase;
      font-size: 44px;
      line-height: 42px;
      }

    .upper-little-font {
      font-family: Frunchy;
      text-transform: uppercase;
      font-size: 32px;
      line-height: 30px;
    }

    .menu {
      background-size: 20%;
    }

    .team-member:nth-child(even) {
      margin-left: 60%;
    }

    .big-font {
      font-size: 250px;
      line-height: 290px;
      margin-bottom: -100px;
       }

    .even {
      margin-left: 60%;
    }

    .headline {
      position: absolute;
      top: 250px;
      right: 120px;
      width: 30%;
      }
    }
