@font-face {
  font-family: 'Copyright Klim Type Foundry';
  src: url('https://event-centar.vercel.app/fonts/Sohne-Leicht.eot');
  src: url('https://event-centar.vercel.app/fonts/Sohne-Leicht.eot?#iefix') format('embedded-opentype'),
      url('https://event-centar.vercel.app/fonts/Sohne-Leicht.woff2') format('woff2'),
      url('https://event-centar.vercel.app/fonts/Sohne-Leicht.woff') format('woff'),
      url('https://event-centar.vercel.app/fonts/Sohne-Leicht.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Stylish';
  src: url('https://event-centar.vercel.app/fonts/Stylish.eot');
  src: url('https://event-centar.vercel.app/fonts/Stylish.eot?#iefix') format('embedded-opentype'),
      url('https://event-centar.vercel.app/fonts/Stylish.woff2') format('woff2'),
      url('https://event-centar.vercel.app/fonts/Stylish.woff') format('woff'),
      url('https://event-centar.vercel.app/fonts/Stylish.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Frunchy';
  src: url('https://event-centar.vercel.app/fonts/Frunchy-Regular.eot');
  src: url('https://event-centar.vercel.app/fonts/Frunchy-Regular.eot?#iefix') format('embedded-opentype'),
      url('https://event-centar.vercel.app/fonts/Frunchy-Regular.woff2') format('woff2'),
      url('https://event-centar.vercel.app/fonts/Frunchy-Regular.woff') format('woff'),
      url('https://event-centar.vercel.app/fonts/Frunchy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #F6F6F3;
  color: #2B2E34;
  margin: 0;
  opacity: 0;
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-animation: showBody 1s forwards;
  animation: showBody 1s forwards;
}

@keyframes showBody {
  70% { opacity: 0;}
  100% { opacity: 1; }
}

@-webkit-keyframes showBody {
  70% { opacity: 0;}
  100% { opacity: 1; }
}

#loading-screen {
  position: fixed;
  background-color: rgb(153,	148,	139);
  left: 0; top: 0;
  z-index: 20;
  transition: transform 8s cubic-bezier(0.25,1.05,1,1);
}

#loading-screen.finish {
  transform: translateX(-9999px);
}

#loading-screen #loading-logo-svg {
  position: absolute;
  top: calc(50vh - 260px);
  height: 520px;
  opacity: 0;
  animation: moveLogoToTop 2s 1s forwards cubic-bezier(0.25,1.05,1,1);
  z-index: 32;
}

@keyframes moveLogoToTop {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    top: calc(50vh - 260px);
    height: 520px;
  }
  100% {
    opacity: 1;
    top: 24px;
    height: 150px;
  }
}

#skip-loading svg {
  animation: skip 1s 1s infinite ease-in-out;
}

@keyframes skip {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.swiper-pagination-bullet {
  background-color: transparent !important;
  border: 1px solid black !important;
  width: 9px !important;
  height: 9px !important;
  margin: 0 25px !important;
}
.swiper-pagination-bullet-active {
  background-color: #000 !important;
}

header {
  background-image: url('/img/logo.svg');
  background-repeat: no-repeat;
  background-size: 35%;
  height: 130px;
  padding-top: 40px;
  background-position: 50% 90%;
}

/*for inner menu*/

.hide {
  display: none;
}

.hide-member {
  display: none;
}

.coming-soon {

}

.coming-soon .soon {
  display: block;
}

.coming-soon .space-content {
  /*display: none;*/
  opacity: 0;
  height: auto;
}

.space-content {
  display: block;
  opacity: 100%;
  /*height: 400px;*/
}


.soon {
  display: none;
  color: #2B2E34;
  font-family: Stylish;
  left: 0px;
  top: 100px;
  text-align: center;
  font-size: 150px;
  line-height: 80px;
}


.btn-zoom-in-out{
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.btn-zoom-in-out:hover{
  -webkit-transform: scale(1.08);
      -ms-transform: scale(1.08);
          transform: scale(1.08);
}

/**/

  .facility {
   position: relative;
    }

  .facility::before {
      position: absolute;
      content: '';
      background-image: url('/img/tick.svg');
      background-repeat: no-repeat;
      bottom: 8px;
      left: -15px;
      height: 12px;
      width: 12px;
      }


  .center {
    margin: 0 auto;
  }

  .team {
    padding-top: 15px;
  }

  .contact-title {
    color: #2B2E34;
    font-family: Stylish;
    text-align: center;
    font-size: 100px;
    line-height: 85px;
  }

  .nav-toggle {
    position: fixed;
    right: 20px;
    width: 35px;
    height: 35px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('/img/menu_icon.svg');
    z-index: 1000;
  }

  .nav-toggle--closed {
    background-image: url('/img/menu_icon_closed.svg');
    width: 25px;
    height: 25px;
  }


.menu {
  background-color: #9C968D;
  display: none;
  padding: 20px;
 }

.menu-list {
  width: 100%;
  position: absolute;
  bottom: 90px;
  right: 20px;
}

.menu--opened {
  display: flex;
  position: fixed;
  text-align: right;
  right: 0;
  top: 0;
  z-index: 20;
  animation: mobileMenuAnimation 0.3s ease-out forwards;
}

@keyframes mobileMenuAnimation {
  0% { right: -100%; }
  100% { right: 0; }
}

 .menu-item {
    /* padding-bottom: 5px; */
    border-bottom: 2px solid transparent;
    font-size: 28px;
    font-family: Sohne-Leicht;
  }

  .menu-item--active {
    color: #2B2E34;
    /* border-bottom: 1px solid #2B2E34; */
  }

  .menu-item--active .menu-line{
    background-color: #2B2E34;
  }

  .menu-item:hover .menu-line {
    background-color: #2B2E34;
    animation: load ease-out forwards 0.5s;
  }

  .active {
   color: #2B2E34;
   border-bottom: 1px solid #2B2E34;
  }

  .active-menu {
    color: #2B2E34;
  }


  .menu-item:hover {
   color: #2B2E34;
   /* border-bottom: 1px solid #2B2E34; */
  }

 .social {
  position: relative;
  padding-right: 50px;
  font-size: 14px;
  font-weight: 300;
 }

 .social:before {
  content:'';
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: url('/img/instagram.svg');
  background-repeat: no-repeat;
  right: 0;
  top: -6px;
  background-size: contain;
 }


  .main-color {
    color: #9C968D;
  }

  .little-font {
    font-size: 14px;
    font-family: Söhne;
    font-weight: Leicht;
    }

  .big-font {
    color: #2B2E34;
    font-family: Stylish;
    text-align: center;
    font-size: 110px;
    line-height: 90px;
    }

  .upper-font {
    font-family: Frunchy;
    text-transform: uppercase;
    font-size: 28px;
    line-height: 26px;
    }

  .upper-big-font {
    font-family: Frunchy;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 40px;
  }

  .upper-little-font {
    font-family: Frunchy;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 22px;
  }

  .upper-middle-font {
    font-family: Frunchy;
    text-transform: uppercase;
    font-size: 55px;
    line-height: 50px;
  }

  .about-title {
    color: #2B2E34;
    font-family: Stylish;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 100px;
    line-height: 100px;
  }

  .experiences-menu {
    display: none;
  }

  .experience-headline {
    font-family: Stylish;
    font-size: 100px;
    line-height: 80px;
    position: absolute;
  }

  .experiences-container {
    position: relative;
  }

 .upper-experience-title {
   border-bottom: 1px solid #9C968D;
   position: relative;
   transition: all 0.3s;
 }


 .upper-experience-title:before {
  position: absolute ;
  content: "";
  width: 12px;
  height: 2px;
  top: 50%;
  right: 10px;
  background-color: #9C968D;
}

.upper-experience-title:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 12px;
  top: calc(50% - 5px);
  right: 15px;
  background-color: #9C968D;
}

.upper-experience-title--minus {
  border-bottom: 1px solid transparent;
}

.upper-experience-title--minus:after {
  background-color: transparent;
}

.upper-experience-title:hover {
  color: #2B2E34;
}

.upper-space-title {
  border-bottom: 1px solid #9C968D;
  position: relative;
  transition: all 0.3s;
}

.upper-space-title:before {
  position: absolute ;
  content: "";
  width: 12px;
  height: 2px;
  top: 50%;
  right: 10px;
  background-color: #9C968D;
}

.upper-space-title:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 12px;
  top: calc(50% - 5px);
  right: 15px;
  background-color: #9C968D;
}

.upper-space-title--minus {
  border-bottom: 1px solid transparent;
}

.upper-space-title--minus:after {
  background-color: transparent;
}

.upper-space-title:hover {
  color: #2B2E34;
}


.page-section-title {
  font-family: Stylish;
  font-size: 100px;
  line-height: 100px;
  bottom: 0px;
  padding-top: 50px;
  }

.button {
    border: 1px solid #2B2E34;
    outline: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 35px;
    padding-right: 35px;
    transition: 0.3s;
    }

.button:hover {
    border: 1px solid #2B2E34;
    background-color: #2B2E34;
    color: white;
  }

  .button:focus {
    outline: white;
  }

  .black-button:focus {
    outline: white;
  }

.black-button {
    background-color: #2B2E34;
    color: #F6F6F3;
    border: none;
    outline: none;
    padding: 8px;
    /*width: 100%;*/

    border: 1px solid #2B2E34;
    transition: 0.3s;
    }

.black-button:hover {
    border: 1px solid #2B2E34;
    background-color:  #F6F6F3;
    color: #2B2E34;
  }

.slider-controls  {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    padding-top: 30px;
  }

.slider-control {
    height: 8px;
    width: 8px;
    border: 1px solid #2B2E34;
    border-radius: 50%;
  }

.control-active {
    background-color: #2B2E34;
  }

.inbetween-line {
    width: 100%;
    height: 1px;
    background-color: #9C968D;
  }

.inbetween-line-light {
    width: 0%;
    height: 1px;
    background-color: #9C968D;
  }

.animated-line {
    animation: load 1.5s ease-out forwards;
  }

.animated-light {
    animation: loadLight 1.9s ease-out forwards 0.1s;
  }

  @keyframes load {
    0% { width: 40%; }
    100% { width: 100%; }
  }

  @keyframes loadLight {
    0% { width: 0%; }
    100% { width: 100%; }
  }

  .list {
    max-height: 400px;
    padding-left: 10px;
     }


  @media (min-width: 768px) {

    header {
      background-size: 20%;
    }

    body {
      padding-left: 25px;
      padding-right: 25px;
    }

    /*class for horizontal paddings on each section*/
    .wrapper {
      padding-left: 30px;
      padding-right: 30px;
    }

    .buttons-wrapper {
      margin: 0 auto;
      max-width: 1000px;
    }

    .upper-big-font  {
      font-family: Frunchy;
      text-transform: uppercase;
      font-size: 60px;
      line-height: 40px;
    }

    .slider-controls  {
      padding-left: 150px;
      padding-right: 150px;
    }

    .contact-title {
      font-size: 110px;
    }

    .button {
      padding-left: 15px;
      padding-right: 15px;
      }

    .soon {
      left: 0px;
      top: 50px;
      text-align: center;
      font-size: 150px;
      line-height: 80px;
      }

    .black-button {
      padding-left: 15px;
      padding-right: 15px;
      }
  }

  @media (min-width: 1024px) {
    footer {
      padding-left: 10px;
      padding-right: 10px;
    }

    .soon {
      display: none;
      left: 25%;
      top: 150px;
      text-align: center;
      font-size: 200px;
      line-height: 180px;
    }

    .button {
      padding-left: 35px;
      padding-right: 35px;
      }

    .black-button {
      padding-left: 35px;
      padding-right: 35px;
      /*width: 80%;*/
      }

    .upper-middle-font {
      font-family: Frunchy;
      text-transform: uppercase;
      font-size: 75px;
      line-height: 72px;
    }

    .experience-headline {
      font-family: Stylish;
      font-size: 220px;
      line-height: 160px;
      bottom: 10%;
      left: 10%;
    }

    .upper-big-font {
      font-family: Frunchy;
      text-transform: uppercase;
      font-size: 120px;
      line-height: 100px;
    }

    .contact-title {
      font-size: 120px;
      line-height: 120px;
    }

    .about-title {
      text-align: center;
      margin-top: 20px;
      font-size: 170px;
      line-height: 120px;
    }

    .page-section-title {
      font-size: 120px;
    }

  .list {
      /*padding-top: 50px;
      padding-bottom: 50px;*/
      height: 350px;
      padding-left: auto;
    }


  .team {
  padding-bottom: 450px;
    }

  .menu-list {
      position: static;
    }

  .menu-item {
    font-size: 20px;
    color: #9C968D;
  }

  .menu-item--active {
    color: #2B2E34;
  }

  .experiences-menu {
      display: flex;
    }

  .slider-controls  {
      display: none;
    }

  .hide-member {
      display: block;
    }

  .wrapper {
      padding-left: 50px;
      padding-right: 50px;
    }

  .upper-little-font {
      font-size: 26px;
      line-height: 28px;
    }

  .upper-font {
      font-size: 42px;
      line-height: 40px;
    }

  header {
      background-image: none;
      height: auto;
      padding-bottom: 80px;
    }

  .menu {
    display: block;
    background-color: #F6F6F3;
   }

  .menu-item.item-logo:hover {
    border: none;
  }

  .nav-toggle {
    display: none;
  }

  .inner-menu-item {
    transition: 0.5s;
    cursor: pointer;
  }

  .menu-line {
    height: 1px;
    background-color: transparent;
  }

  .inner-menu-item:hover {
    color: #2B2E34;
  }

  .inner-menu-item:hover .menu-line {
    background-color: #2B2E34;
    animation: load ease-out forwards 0.5s;
  }

  .inner-menu-item-spaces {
    transition: 0.5s;
    cursor: pointer;
  }

  .inner-menu-item-spaces:hover {
    color: #2B2E34;
  }

  .inner-menu-item-spaces:hover .menu-line {
    background-color: #2B2E34;
    animation: load ease-out forwards 0.5s;
  }

  @keyframes load {
    0% { width: 0%; }
    100% { width: 100%; }
  }


  .big-font {
    font-size: 120px;
    line-height: 165px;
    position: relative;
    z-index: 10;
    margin-bottom: -70px;
  }

  .even {
    margin-left: 50%;
  }

  .headline {
    position: absolute;
    top: 0px;
    right: 120px;
    width: 30%;
    }
  }

  @media (min-width: 1280px) {

   body {
     padding-right: 90px;
     padding-left:  90px;
   }

  .wrapper {
    padding-left: 80px;
    padding-right: 80px;
  }

  .team-member:nth-child(even) {
    margin-left: 60%;
  }

  .even {
    margin-left: 60%;
  }

  .inbetween-line {
    background-color: #2B2E34;
  }

  .headline {
    position: absolute;
    /*top: 250px;*/
    right: 120px;
    width: 30%;
    }

    .page-section-title {
      width: 80%;
      font-size: 140px;
      line-height: 100px;
    }
  }

  @media (min-width: 1440px) {

body {
  padding-right: 100px;
  padding-left: 100px;
}

.team-member-wrapper {
  display: flex;
  justify-content: space-between;
 }

    .upper-font {
      font-family: Frunchy;
      text-transform: uppercase;
      font-size: 44px;
      line-height: 42px;
      }

    .upper-little-font {
      font-family: Frunchy;
      text-transform: uppercase;
      font-size: 32px;
      line-height: 30px;
    }

    .menu {
      background-size: 13%;
    }

    .team-member:nth-child(even) {
      margin-left: 60%;
    }

    .big-font {
      font-size: 250px;
      line-height: 290px;
      margin-bottom: -100px;
       }

    .even {
      margin-left: 60%;
    }

    .inner-menu-item-spaces {
      width: 180px;
    }

    .headline {
      position: absolute;
      top: 0px;
      right: 110px;
      width: 30%;
      }
    }
