<footer class="mb-16 sm:mb-40 ">
  <div class="inbetween-line mb-16"></div>
  <ul class="little-font sm:flex sm:justify-between">
    <li class="mb-5"><a class="flex items-start" href="#">
      <img src="/img/instagram.svg" alt="instagram icon" class="mr-2"></img>
      <p>cgevents</p>
      </a>
    </li>
    <li class="mb-5">617 Chapel Street <br> South Yarra</li>
    <li class="mb-5">info@cgevents.au <br >03 8080 8080</li>
    <li class="mb-5">Copyright 2021&#174 Grand Capitol</li>
  </ul>

</footer>
<script src="/js/main.js" type="text/javascript"></script>
<!--<script src="https://unpkg.com/scrollreveal"></script>-->
<script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
</body>
</html>
