<footer class="mb-16 sm:mb-10">
  <div class="inbetween-line mb-16"></div>
  <ul class="h-40 lg:h-auto flex flex-wrap footer-list little-font lg:flex lg:justify-between wrapper"><!--wrapper-->
    <li class="mb-5 w-full lg:w-auto"><a class="flex items-start" href="#">
      <img src="/img/instagram.svg" alt="instagram icon" class="mr-2"></img>
      <p>cgevents</p>
      </a>
    </li>
    <li class="mb-5 w-1/2 lg:w-auto">
      617 Chapel Street 
      <br> 
      South Yarra
    </li>
    <li class="mb-5 w-1/2 lg:w-auto">
      <a href="mailto:info@cgevents.au">info@cgevents.au</a> 
      <br> 
      <a href="tel:0380808080">03 8080 8080</a></li>
    <li class="mb-5">
      Copyright 2021&#174 Grand Capitol
      <br>
      Powered by 
      <a href="https://www.morphnetworks.com">
        Morph
      </a>
    </li>
  </ul>

</footer>
<script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<script src="/js/vara.min.js"></script>
<script src="/js/main.js" type="text/javascript"></script>
</body>
</html>
