<section id="loading-screen" class="h-screen w-full">
  <div id="first-loading" class="absolute left-0 top-0 h-screen w-full flex justify-center items-center">
    {% include loading-logo.html %}
  </div>
  <div id="second-loading" class="absolute left-0 top-0 h-screen w-full flex justify-center items-center z-40">
    <div class="container mx-auto">
      <div id="loading-text"></div>
    </div>
  </div>
  <div id="skip-loading" class="w-full absolute flex justify-center right-20 bottom-0 mb-20 lg:mb-12 z-50">
    <div class=" cursor-pointer">
      <div class="mr-3 uppercase">Enter Site</div>
      <!-- <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
      </svg> -->
    </div>
  </div>
</section>
<script>
  // remove animation if clicked on home link in nav
  (function() {
  if(window.location.search === '?a=hidden' && document.getElementById('loading-screen'))
   document.getElementById('loading-screen').remove()
  })()
</script>
