<div id="landing" class="flex flex-col-reverse md:flex-row justify-between items-center">
  <div id="landing-grand-room" class="landing-box w-full md:w-1/2" style="background-image: url({{page.grand_room_img}});">
    <a href="/the-grand-room">
      <div class="overlay"></div>
      <img src="{{page.grand_room_logo}}" alt="The Grand room">
    </a>
  </div>
  <div id="landing-broomly" class="landing-box w-full md:w-1/2" style="background-image: url({{page.broomly_img}});">
    <a href="/?a=hidden">
      <div class="overlay"></div>
      <img src="{{page.broomly_logo}}" alt="Broomly gallery & events space">
    </a>
  </div>
  <div id="landing-lk-hospitality-logo">
    <img src="/img/LK-Hospitality-Logo.png" alt="LK Hospitality Logo">
  </div>
</div> 

<script>
  // remove animation if clicked on home link in nav
  (function() {
  if(window.location.search === '?a=hidden' && document.getElementById('landing'))
   document.getElementById('landing').remove()
  })()
</script>
