<header class=" fixed lg:static w-full lg:h-auto lg:relative text-right pt-6">
  <div class="pb-16 lg:pb-0">
  <div class="nav-toggle ml-2" aria-label="Open menu" type="button">
  </div>
  </div>
  <nav class="wrapper menu fixed lg:static h-screen lg:h-auto w-full">
    <ul class="text-center lg:flex lg:justify-between lg:little-font main-color lg:py-40">
      <li class="menu-item"><a href="/">Home</a><div class="menu-line"></li>
      <li class="menu-item" ><a href="/experiences">Experiences</a></li>
      <li class="menu-item lg:mr-64"><a href="/spaces">Event Spaces</a></li>
      <li class="menu-item"><a href="/about">About Bromley</a></li>
      <li class="menu-item"><a href="/gallery">Gallery</a></li>
      <li class="menu-item"><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>
