<header class="w-full lg:h-auto lg:relative text-right">
  <div class="lg:pb-0 ">
    <div class="nav-toggle" aria-label="Open menu" type="button">
      </div>
  </div>
  <nav class="menu lg:static h-screen lg:h-auto w-full">
    <ul class="menu-list text-right lg:flex lg:text-center lg:items-center lg:justify-between lg:little-font lg:main-color "><!--lg:pb-40-->
      <li><a href="/" class="menu-item">Home</a></li>
      <li><a href="/experiences" class="menu-item">Experiences</a></li>
      <li><a href="/spaces" class="menu-item">Event Spaces</a></li>
      <li class="item-logo"><a class="hidden lg:inline-block" href="/"><img src="/img/logo.svg" width="206"/></a></li>
      <li><a href="/about" class="menu-item">About Bromley</a></li>
      <li><a href="/gallery" class="menu-item">Gallery</a></li>
      <li><a href="/contact" class="menu-item">Contact</a></li>
      <li class="lg:hidden mt-12 social"><a href="#">
        cgevents
      </a>
      </li>
    </ul>
  </nav>
</header>
