{% include head.html %}
{% include nav.html %}

<main class="pt-32 lg:pt-0 px-4 lg:px-16 xl:px-48">
  <h1 class="upper-middle-font mt-32 mb-32 w-full">{{page.big_text}}</h1>
  <img src="{{page.picture}}" alt="interior" class="w-full">
  <div class="py-16 section">
    <div class="flex justify-between">
  <div class="flex flex-col justify-between w-1/2">
    <h3 class="about-title w-1/2">{{page.big_title}}</h3>
    <img src="/img/art.jpg" alt="picture" class="w-full">
  </div>
    <div class="flex flex-col justify-between  w-1/2 ml-32">
   <div>
    <p class="little-font">
      {{page.text}}
    </p>
    <button class="button little-font my-12">book your event at Bromley Gallery</button>
    </div>
    <img src="/img/art1@2x.jpg" alt="artist and picture" class="w-full mt-12">
  </div>
</div>
  <p class="little-font mt-12">{{page.second_text}}
  </p>
  </div>

</main>

{% include footer.html %}
