{% include head.html %}
{% include nav.html %}

<main class="pt-32 lg:pt-0 px-4 lg:px-16 xl:px-48">
  <h1 class="upper-big-font mt-32 mb-32 w-full">You will be immersed in a visual dining experience among the artwork of Australia’s own David Bromley and feast</h1>
  <img src="/img/interior.jpg" alt="interior" class="w-full">
  <div class="py-16 section">
    <div class="flex justify-between">
  <div class="flex flex-col justify-between w-1/2">
    <h3 class="upper-font">Bromley & CO. Gallery</h3>
    <img src="/img/art.jpg" alt="picture" class="w-full">
  </div>
    <div class="flex flex-col justify-between  w-1/2 ml-32">
   <div>
    <p class="little-font">Born in 1960 in Sheffield, England, David Bromley immigrated to Australia with his family in 1964 and emerged as a painter in the mid 1980s.
    Since then, he has become one of the most recognisable and innovative artists in Australia.
    </p>
    <p class="little-font mt-8">
    Born in 1960 in Sheffield, England, David Bromley immigrated to Australia with his family in 1964 and emerged as a painter in the mid 1980s.
    Since then, he has become one of the most recognisable and innovative artists in Australia.
    Born in 1960 in Sheffield, England, David Bromley immigrated to Australia with his family in 1964 and emerged as a painter in the mid 1980s.
    Since then, he has become one of the most recognisable and innovative artists in Australia.
    Born in 1960 in Sheffield, England, David Bromley immigrated to Australia with his family in 1964 and emerged as a painter in the mid 1980s.
    Since then, he has become one of the most recognisable and innovative artists in Australia.
    </p>
    <button class="button little-font my-12">book your event at Bromley Gallery</button>
    </div>
    <img src="/img/art1@2x.jpg" alt="artist and picture" class="w-full mt-12">
  </div>
</div>
  <p class="little-font mt-12">Cras sem orci, elementum nec laoreet vitae, sodales a diam. Phasellus bibendum quam nec malesuada porttitor. Nunc ut dui id urna convallis rutrum.
    Donec tristique hendrerit tempus. Pellentesque porttitor ex ut neque condimentum elementum.
    Aenean eget nisi ac erat faucibus hendrerit eu id enim. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Nullam ac rutrum mauris. Suspendisse nec enim ac ante commodo volutpat. Vivamus arcu lacus, consectetur et tincidunt non, placerat eu risus.
  </p>
  </div>

</main>

{% include footer.html %}
