{% include head.html %}
{% include nav.html %}

<main class="pt-12 lg:pt-0 wrapper">
  <h1 class="upper-middle-font mb-16 w-full text-center lg:text-left animate__animated animate__fadeInUp animate__slow">{{page.big_text}}</h1>
  <img src="{{page.picture}}" alt="interior"
  class="hidden lg:block w-full animate__animated animate__fadeInUp animate__slow">
  <img src="{{page.mobile_interior}}" alt="interior"
  class="lg:hidden w-full animate__animated animate__fadeInUp animate__slow">
  <div class="bt-16 lg:py-16 section">
    <div class="lg:flex lg:justify-between">
  <div class="lg:flex flex-col justify-between lg:w-1/2">
    <h3 class="text-left about-title lg:mr-0 lg:w-2/3">{{page.big_title}}</h3>
    <img src="/img/art.jpg" alt="picture" class="hidden lg:block mb-12 mt-8 lg:mb-0 reveal-left w-full">
  </div>
    <div class="lg:flex flex-col justify-between  lg:w-1/2 lg:ml-32">
   <div>
    <p class="reveal-top little-font">
      {{page.text}}
    </p>
    <!--<p class="mt-8 reveal-top little-font">
      {{page.second_text}}
    </p>-->
    <!--<button class="hidden lg:block reveal-top button little-font my-12">book your event at Bromley Gallery</button>-->
    <div class='hidden lg:block'>
    <h2 class='mt-12 upper-little-font'>Book your event at Bromley Gallery</h2>
    <div class="reveal-top-delay buttons-wrapper lg:flex lg:justify-between mt-8">
      <a href="tel:0380808080">
        <button class="button xl:w-64 mt-8 mr-2">
          call us
        </button>
      </a>
      <a href="mailto:info@cgevents.au">
        <button class="black-button xl:w-64 mt-8">
          email us
        </button>
      </a>
    </div>
    </div>
    </div>
    <img src="/img/art1@2x.jpg" alt="artist and picture" class="reveal-right w-full mt-12">
    <div class='lg:hidden'>
      <h2 class='mt-12 upper-little-font'>Book your event at Bromley Gallery</h2>
        <a href="tel:0380808080">
          <button class="button w-full mt-8 mr-2">
            call us
          </button>
        </a>
        <a href="mailto:info@cgevents.au">
          <button class=" black-button w-full lg:w-64 mt-8">
            email us
          </button>
        </a>
      </div>
  </div>
</div>
  </div>

</main>

{% include footer.html %}
