{% include head.html %}

{% include nav.html %}

<main class="pt-32 lg:pt-0">
  <div class="section py-24 text-center">
  <h1 class="contact-title reveal-top">{{page.big_title}}</h1>
  <p class="little-font pt-16 reveal-top">{{page.text}}</p>
  <div class="reveal-top buttons-wrapper sm:flex sm:justify-between sm:px-40 sm:py-32">
    <button class="button w-64 mx-2">call us</button>
    <button class="button w-64 mx-2">email us</button>
    <button class="button w-64 mx-2">book your event</button>
  </div>
  <img class="mt-12 reveal-top" src="{{page.picture}}" alt="meal" >
  </div>
</main>

{% include footer.html %}
