{% include head.html %}

{% include nav.html %}

<main class="pt-32 lg:pt-0 px-4 lg:px-16 xl:px-48">
  <div class="section py-24 text-center">
  <h1 class="contact-title">617 Chapel Street, South Yarra</h1>
  <p class="little-font pt-16">For more information on how to curate a bespoke event for <br> you or to arrange an on-site venue viewing please contact:</p>
  <div class="flex justify-between px-48 py-32">
    <button class="button w-64">call us</button>
    <button class="button w-64">email us</button>
    <button class="button w-64">book your event</button>
  </div>
  <img src="/img/meal5@2x.jpg" alt="meal" class="mt-12">
  </div>
</main>

{% include footer.html %}
