{% assign current_page = 'experience' %}
{% include head.html %}

{% include nav.html %}
<main class="pt-8 pb-16 lg:pb-0 lg:pt-0">
  <div class="wrapper">
    <h1 class='upper-big-font my-12 lg:mb-24 lg:mt-0 text-center animate__animated animate__fadeInUp animate__slow'>
    {{page.big_title}}
    </h1>
    <ul class='experiences-menu w-full justify-between main-color pb-4 animate__animated animate__fadeInUp animate__slow'>
        {% for experience in page.experiences %}
        <li class="inner-menu-item" data-category-name="{{ experience.title | slugify }}">
          {{experience.title}}
          <div class="menu-line"></div>
        </li>
        {% endfor %}
    </ul>
  </div>
  <div class="hidden lg:block inbetween-line-light"></div>
  <div class="experiences-container flex flex-wrap justify-between mt-8 flex-col">
    {% for experience in page.experiences %}
    <div class="lg:pt-20 experience wrapper lg:pb-56" data-category={{ experience.title | slugify}}>
      <h3 class="w-full upper-experience-title lg:hidden py-4 upper-font main-color">{{experience.title}}</h3>
      <div class="hidden lg:block">
        <img
          class="pb-12 lg:pb-0 w-full animate__animated animate__fadeIn animate__slower experience-image"
          src="{{experience.image}}"
          alt="experience photo"
        >
        <!-- {% assign titleSize = variable.size %} -->
        {% if experience.headline.size > 15 %}
        <h2 class="experience-headline w-1/3" >
          <!-- {{experience.headline.size}} -->
          {{experience.headline}}
        </h2>
        <div class="pt-40 lg:pt-20 lg:pr-16 relative lg:flex justify-between">
          <h3 class="experience-title hidden lg:block lg:w-1/2 lg:pr-4 upper-font">
            {{experience.title}}
          </h3>
          <p class="experience-first-text mt-8 lg:mt-0 little-font lg:w-1/3 lg:mr-12">
            {{experience.first_text}}
          </p>
          <div class="experience-second-text lg:w-1/3 lg:pr-4">
            <p class="little-font">  <!-- lg:mb-48 -->
              {{experience.second_text}}
            </p>
            <a href="/EventsBrochure.pdf" target="blank">
              <button class="experience-download-btn my-8 lg:my-0 lg:mt-16 w-full black-button little-font">
                Download the package
              </button>
            </a>
          </div>
        </div>
        {% else %}
        <h2 class="experience-headline w-1/3 experience-headline-extra-bottom">
          {{experience.headline}}
        </h2>
        <div class="pt-24 lg:pt-20 lg:pr-16 relative lg:flex justify-between">
          <h3 class="experience-title hidden lg:block lg:w-1/2 lg:pr-4 upper-font">
            {{experience.title}}
          </h3>
          <p class="experience-first-text mt-8 lg:mt-0 little-font lg:w-1/3 lg:mr-12">
            {{experience.first_text}}
          </p>
          <div class="experience-second-text lg:w-1/3 lg:pr-4">
            <p class="little-font">  <!-- lg:mb-48 -->
              {{experience.second_text}}
            </p>
            <a href="/EventsBrochure.pdf" target="blank">
              <button class="experience-download-btn my-12 lg:my-0 lg:mt-16 w-full black-button little-font">
                Download the package
              </button>
            </a>
          </div>
        </div>
        {% endif %}

      </div>
    </div>
    {% endfor %}
  </div>
</main>
{% include footer.html %}
