{% include head.html %}

{% include nav.html %}
<main class="pt-32 lg:pt-0">
  <div class="wrapper">
  <h1
  class='upper-big-font mt-20 mb-20 text-center reveal'>
    {{page.big_title}}</h1>
  <ul
  class='experiences-menu flex w-full justify-between upper-little-font main-color pb-4 animate__animated animate__fadeIn animate__slow'>
      {% for experience in page.experiences %}
      <li class="inner-menu-item cursor-pointer" cursor-pointer
    data-category-name="{{ experience.title | slugify }}">
        {{experience.title}}
        <div class="menu-line"></div></li>
      {% endfor %}
  </ul>
  </div>

  <div class="inbetween-line-light"></div>
  <div class="experiences-container flex flex-wrap justify-between mt-8">
  {% for experience in page.experiences %}
  <div class="pt-20 pb-56 experience wrapper "
  data-category={{ experience.title | slugify}}>
  <img class="experience-image" src="{{experience.image}}" alt="experience photo"
  class=" w-full">
  <div class="pt-40 flex justify-between pr-16 relative">
    <h3 class=" w-1/2 pr-4 upper-font">{{experience.title}}</h3><!--reveal-top-->
    <p class=" little-font w-1/3 mr-12">{{experience.first_text}}</p><!--reveal-top -->
      <div class="w-1/3 pr-4">
    <p class=" little-font mb-56">{{experience.second_text}}</p><!--reveal-top -->
    <button class=" black-button little-font">{{experience.button}}</button><!--reveal-top -->
    </div>
    <h2 class="experience-headline w-1/3 absolute">{{experience.headline}}</h2>
  </div>
  </div>
  {% endfor %}
  </div>
</main>
{% include footer.html %}
