{% include head.html %}

{% include nav.html %}

<main class="pt-32 lg:pt-0 px-4 lg:px-16 xl:px-48 ">
  <div class="section py-16">
  <img src="/img/meal@2x.jpg" alt="meal" class="mb-12">
  <div class=" flex justify-between">
    <div class="w-1/2 text-center mr-8">
      <img src="/img/meal1@2x.jpg" alt="meal">
      <img src="/img/meal3@2x.jpg" alt="meal" class="mt-12">
      <button class="black-button mt-64">download events package brochure</button>
    </div>
    <div class="w-1/2 ml-8">
      <img src="/img/meal2@2x.jpg" alt="meal">
      <img src="/img/meal4@2x.jpg" alt="meal" class="mt-12">
    </div>
  </div>
  <img src="/img/caviar@2x.jpg" alt="meal" class="mt-12">
  </div>
</main>

{% include footer.html %}
