{% include head.html %}

{% include nav.html %}

<main class="pt-32 lg:pt-0 px-4 lg:px-16 xl:px-48 ">
  <div class="section py-16">
  <img src="{{page.top_picture}}" alt="meal" class="mb-12">
  <div class=" flex justify-between">
    <div class="w-1/2 text-center mr-8">
      <img src="{{page.top_left_picture}}" alt="meal">
      <img src="{{page.bottom_left_picture}}" alt="meal" class="mt-12">
      <button class="black-button mt-64">download events package brochure</button>
    </div>
    <div class="w-1/2 ml-8">
      <img src="{{page.top_right_picture}}" alt="meal">
      <img src="{{page.bottom_right_picture}}" alt="meal" class="mt-12">
    </div>
  </div>
  <img src="{{page.bottom_picture}}" alt="meal" class="mt-12">
  </div>
</main>

{% include footer.html %}
