{% include head.html %}
{% include loading.html %}

{% include nav.html %}
<script>
if(window.location.search !== '?a=hidden')
  document.body.style.overflow = 'hidden'
</script>

<main class="pt-20 lg:pt-0">
  <div class="wrapper">
  <h1 id="homepage-title" class="lg:hidden big-font mb-20 lg:mb-36"><!--xl:mt-16 --animate__animated animate__slower-->
    {{ page.big_title }}
  </h1>
  <h1 id="welcome" class="hidden lg:block lg:mb-48 xl:mt-16 mx-auto" style="width: 1080px;">
  </h1>

  <img src="{{page.main_photo}}" alt="interior picture"
  id="homepage-first-img" class="w-full mt-8 mb-8 sm:mt-0 sm:mb-12 lg:mb-32">
  <p class="reveal-top upper-font mb-8 sm:mb-12 lg:mb-32 main-color">
    {{page.description}} </p>
    <div class="xl:flex xl:justify-between mb-8 lg:mb-32">
      <div class="mb-12 lg:mb-32 xl:mb-0 xl:w-1/2 xl:pr-20">
        <img src="{{ page.first_section_photo }}" alt="high building"
        class="reveal-left w-full">
      </div>
      <div class="xl:pl-24 sm:reveal-right xl:ml-20 xl:flex xl:flex-col xl:w-2/3 xl:justify-between pb-12 xl:pb-0">
        <h3 class="upper-little-font mb-8 sm:mt-0">{{page.first_section_first_title}}</h3>
        <p class="little-font mb-8 leading-7 lg:leading-relaxed">{{page.first_section_first_text}}</p>
        <!--<h3 class="upper-little-font mb-8"> {{page.first_section_second_title}}</h3>
        <p class="little-font mb-9 lg:mb-12 xl:mb-4">{{page.first_section_second_text}} </p>-->
          <a  href="/spaces"><button class="button w-full  lg:w-auto mt-12">find out more about event spaces</button></a>
          </div>
        </div>
      <div class="dining-intro pb-2 lg:pb-24">
        <img src="{{ page.second_section_photo }}" alt="caviar"
        class="reveal-top mb-8 lg:mb-24"></img>
        <div class="reveal-top lg:flex lg:justify-between">
        <h3 class="upper-little-font mb-8 sm:mb-0 lg:w-1/2 lg:mr-24">
          {{page.second_section_title}}
         </h3>
        <div class="lg:w-1/2 dining-box">
        <p class="little-font mb-8 lg:mb-16 leading-7 lg:leading-relaxed">{{page.second_section_text}}</p>
        <a  href="/experiences">
        <button class="button w-full xl:w-3/4">find out more about experiences</button>
        </a>
        </div>
        </div>
      </div>
    </div>
  <div class="hidden lg:block inbetween-line"></div>
      <div>
        <div class="xl:pt-20 team wrapper">
          <h2 class="reveal-top upper-font mb-4 lg:mb-10 main-color">{{page.third_section_title}}</h2>
          <div class="lg:relative">
            <div class='headline'>
              <p class="sm:reveal-right upper-little-font pb-1 -mt-1">
                {{page.third_section_text}}
              </p>
              <p class="sm:reveal-right little-font mt-8 lg:mt-0 pb-8">
                {{page.third_section_little_text}}
              </p>
            </div>

            <div class="our-team-members mb-12 lg:mb-0">
              <ul class="slider-list our-team-members-wrapper">
                {% for member in page.members %}
                <li class="our-team-single-member lg:relative text-left team-member lg:w-1/2 lg:w-2/5 mb-20" data-category={{ member.name | slugify}}>
                  <img src="{{member.image}}" alt="team member" class="w-full mb-12 mt-5"><!-- lg:mt-4-->
                  <div class="team-member-wrapper lg:absolute">
                    <div class="mt-5">
                      <p class="little-font">{{member.position}}</p>
                      <h3 class="upper-font main-color lg:mr-4">{{member.name}}</h3>
                    </div>
                    <p class="little-font 2xl:w-4/6 mt-5">
                      {{member.about}}
                    </p>
                  </div>
                </li>
                {% endfor %}
              </ul>
              <div class="swiper-pagination"></div>
            </div>
          </div>
          </ul>
        </div>
      </div>
</main>


<script src="/js/gsap.min.js"></script>
<script src="/js/DrawSVGPlugin.min.js"></script>
{% include footer.html %}
