{% include head.html %}

{% include nav.html %}

<main class=" pt-32 lg:pt-0 px-4 lg:px-16 xl:px-48">
  <h1 class="big-font mb-5  lg:relative lg:-mb-24 xl:-mb-32 z-10">{{ page.big_title }}</h1>
  <img src="{{ page.main_photo }}" alt="interior picture"  width="100%" class="w-full mb-8 sm:mb-32">
  <p class="upper-font text-2xl sm:text-6xl leading-none mb-8 sm:mb-32 main-color">
    {{page.description}} </p>
    <!--<div class="lg:flex lg:justify-between mb-8 lg:mb-32">
      <div class="mb-8 lg:mb-0">
        <img src="/img/building.jpg" alt="high building" class="w-full"></img>
      </div>-->
    <div class="lg:flex lg:justify-between mb-8 lg:mb-32">
      <div class="mb-8 lg:mb-0">
        <img src="{{ page.first_section_photo }}" alt="high building" class="w-full lg:w-2/3">
      </div>
      <div class="lg:w-2/5 lg:flex lg:flex-col lg:justify-between pb-12 lg:pb-0">
        <h3 class="upper-font text-3xl leading-none mb-8">{{page.first_section_first_title}}</h3>
        <p class="little-font mb-8 lg:m-0">{{page.first_section_first_text}}</p>
        <h3 class="upper-font text-3xl leading-none mb-8"> {{page.first_section_second_title}}</h3>
        <p class="little-font mb-8">{{page.first_section_second_text}} </p>
          <button class="button w-full lg:w-3/4">find out more about event spaces</button>
      </div>
      </div>
      <div class="dining-intro pb-12 lg:pb-32">
        <img src="{{ page.second_section_photo }}" alt="caviar" class="mb-8 lg:mb-32"></img>
        <div class="lg:flex lg:justify-between">
        <h3 class="upper-font text-3xl leading-none mb-8 sm:mb-0 lg:w-1/2 lg:mr-24">
          {{page.second_section_title}}
         </h3>
        <div class="lg:w-1/2  lg:ml-20">
        <p class="little-font mb-8 lg:mb-16">{{page.second_section_text}}</p>
        <button class="button w-full lg:w-3/4">find out more about experiences</button>
        </div>
        </div>
      </div>
      <div class="py-8 xl:pt-32 team xl:pb-32 lg:relative">
        <h2 class="upper-font text-6xl leading-none sm:mb-10 main-color">{{page.third_section_title}}</h2>
        <p class="upper-font text-3xl leading-none headline main-color pb-10 xl:py-0">
          {{page.third_section_text}}</p>
          {% for member in page.members %}
        <ul>
        <li class="team-member lg:w-1/2 xl:w-2/5 mb-8">
          <img src="/img/team-member1.jpg" alt="team member" class="w-full mb-10 "></img>
          <div class="sm:flex sm:justify-between">
            <div>
          <p class="little-font"> {{member.position}}</p>
          <h3 class="upper-font text-4xl sm:text-6xl leading-none main-color">{{member.name}}</h3>
        </div>
          <p class="little-font sm:w-4/6">{{member.about}} </p>
            </div>
          </li>
        </ul>
        {% endfor %}
      </div>
    </div>
</main>

{% include footer.html %}
