{% include head.html %}

{% include nav.html %}

<main class=" pt-32 lg:pt-0 px-4 lg:px-16 xl:px-48">
  <h1 class="big-font mb-5 lg:-mb-32 lg:relative z-10 text-6xl">Welcome to our home</h1> <!--sm:-mb-32-->
  <img src="source/img/interior.jpg" alt="interior picture" class="w-full mb-8 sm:mb-32"></img>
  <p class="upper-font text-2xl sm:text-6xl leading-none mb-8 sm:mb-32 main-color">Capitol Grand is a community of creative collaborators in residence, bringing together artists,
    culinary experts, designers, fashion and hospitality in one destination. </p>
    <div class="lg:flex lg:justify-between mb-8 lg:mb-32">
      <div class="mb-8 lg:mb-0">
        <img src="source/img/building.jpg" alt="high building" class="w-full"></img>
      </div>
      <div class="lg:w-2/5 lg:flex lg:flex-col lg:justify-between pb-12 lg:pb-0">
        <h3 class="upper-font text-3xl leading-none mb-8">Here is the headline about capitol grand location etc.</h3>
        <p class="little-font mb-8 lg:m-0">Maecenas et quam aliquam, ultrices ipsum et, tristique odio.
          Quisque et placerat lectus, ut lobortis augue. Curabitur egestas sagittis ipsum, id pulvinar mi blandit blandit.
          Pellentesque tempor id purus id sagittis. Nam congue consequat eros vel lobortis.
          Sed ultricies libero vitae scelerisque volutpat. Duis laoreet eu nisl eu sagittis.
          Nam vitae odio vel lorem tempus condimentum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In arcu lectus, interdum et nulla ac, imperdiet porta nisi.
          Nunc venenatis eros mattis libero dignissim feugiat vitae non mi.</p>
        <h3 class="upper-font text-3xl leading-none mb-8">Here is the headline about our event spaces </h3>
        <p class="little-font mb-8">Maecenas et quam aliquam, ultrices ipsum et, tristique odio. Quisque et placerat lectus, ut lobortis augue.
          Curabitur egestas sagittis ipsum, id pulvinar mi blandit blandit. </p>
          <button class="button w-full lg:w-3/4">find out more about event spaces</button>
      </div>
      </div>
      <div class="dining-intro pb-12 lg:pb-32">
        <img src="source/img/caviar.jpg" alt="caviar" class="mb-8 lg:mb-32"></img>
        <div class="lg:flex lg:justify-between">
        <h3 class="upper-font text-3xl leading-none mb-8 sm:mb-0 lg:w-1/2 lg:mr-24">Here is the intro headline about dining. Our chef etc.Experiences</h3>
        <div class="lg:w-1/2  lg:ml-20">
        <p class="little-font mb-8 lg:mb-16">Here is a short intro text about dining, chef, kitchen…Maecenas et quam aliquam,
        ultrices ipsum et, tristique odio. Quisque et placerat lectus, ut lobortis augue.
        Curabitur egestas sagittis ipsum, id pulvinar mi blandit blandit.
        Pellentesque tempor id purus id sagittis. Nam congue consequat eros vel lobortis. </p>
        <button class="button w-full lg:w-3/4">find out more about experiences</button>
        </div>
        </div>
      </div>
      <div class="py-8 xl:pt-32 team xl:pb-32 lg:relative">
        <h2 class="upper-font text-6xl leading-none sm:mb-10 main-color">Our team</h2>
        <h3 class="upper-font text-3xl leading-none headline main-color pb-10 xl:py-0">
          Here is an introduction headline about our team</h3>
        <ul>
        <li class="team-member lg:w-1/2 xl:w-2/5 mb-8">
          <img src="source/img/team-member1.jpg" alt="team member" class="w-full mb-10 "></img>
          <div class="sm:flex sm:justify-between">
            <div>
          <p class="little-font">Chef</p>
          <h3 class="upper-font text-4xl sm:text-6xl leading-none main-color">Stephen Nairn</h3>
        </div>
          <p class="little-font sm:w-4/6">Here is a short intro text about dining, chef, kitchen…Maecenas et quam aliquam, ultrices ipsum et, tristique odio.
            Quisque et placerat lectus, ut lobortis augue.
            Curabitur egestas sagittis ipsum, id pulvinar mi blandit blandit. Pellentesque tempor id purus id sagittis.
            Nam congue consequat eros vel lobortis. </p>
            </div>
          </li>
          <li class="team-member lg:w-1/2 xl:w-2/5 mb-8">
            <img src="source/img/team-member1.jpg" alt="team member" class="w-full mb-10 "></img>
            <div class="sm:flex sm:justify-between">
              <div>
            <p class="little-font">Chef</p>
            <h3 class="upper-font text-4xl sm:text-6xl leading-none main-color">Stephen Nairn</h3>
          </div>
            <p class="little-font sm:w-4/6">Here is a short intro text about dining, chef, kitchen…Maecenas et quam aliquam, ultrices ipsum et, tristique odio.
              Quisque et placerat lectus, ut lobortis augue.
              Curabitur egestas sagittis ipsum, id pulvinar mi blandit blandit. Pellentesque tempor id purus id sagittis.
              Nam congue consequat eros vel lobortis. </p>
              </div>
            </li>
            <li class="team-member lg:w-1/2 xl:w-2/5 mb-8">
              <img src="source/img/team-member1.jpg" alt="team member" class="w-full mb-10 "></img>
              <div class="sm:flex sm:justify-between">
                <div>
              <p class="little-font">Chef</p>
              <h3 class="upper-font text-4xl sm:text-6xl leading-none main-color">Stephen Nairn</h3>
            </div>
              <p class="little-font sm:w-4/6">Here is a short intro text about dining, chef, kitchen…Maecenas et quam aliquam, ultrices ipsum et, tristique odio.
                Quisque et placerat lectus, ut lobortis augue.
                Curabitur egestas sagittis ipsum, id pulvinar mi blandit blandit. Pellentesque tempor id purus id sagittis.
                Nam congue consequat eros vel lobortis. </p>
                </div>
              </li>
        </ul>
      </div>
    </div>
</main>

{% include footer.html %}
