{% assign current_page = 'spaces' %}
{% include head.html %}

{% include nav.html %}
<main class="pt-16 lg:pt-0 lg:pt-0 ">
  <div class="wrapper">
    <h1 class="text-center lg:text-left upper-middle-font mb-8 lg:mb-12 animate__animated animate__fadeInUp animate__slow">
      {{page.big_title}}
    </h1>
    <p class="hidden lg:block my-44 center little-font max-w-lg text-left animate__animated animate__fadeInUp animate__slow">
      {{page.space_text}}
    </p>
    <ul class='mt-20 hidden lg:flex w-full justify-between main-color pb-4 animate__animated animate__fadeIn animate__slow'>
      {% for space in page.spaces %}
      <li class="inner-menu-item-spaces mr-8 max-w-sm xl:max-w-lg xl:mr-8" cursor-pointer
        data-category-name="{{ space.title | slugify }}">{{space.title}}
        <div class="menu-line"></div>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="hidden lg:block inbetween-line-light"></div>
  <div class='spaces-container flex flex-wrap justify-between flex-col'>
    {% for space in page.spaces %}
    <div class="lg:py-20 wrapper" data-category={{ space.title | slugify}}>
      <h3 class="animate__animated animate__fadeInUp animate__slow w-full upper-space-title lg:hidden py-4 upper-font main-color"><!--animate__slower -->
        {{space.title}}
      </h3>
      <div class="hidden relative lg:flex lg:justify-between lg:flex-row-reverse">
        <div class="soon absolute">Coming soon</div>
        <img
          class="w-full lg:w-2/3 animate__animated animate__fadeIn animate__slow"
          src="{{space.image}}"
        >
        <div class="space-content flex flex-col justify-between pr-8 lg:pr-12">
          <h3 class="animate__animated animate__fadeInUp animate__slow page-section-title mb-16">{{space.title}}</h3>
          <div class="animate__animated animate__fadeInUp animate__slow">
            <p class=" little-font mb-5">{{space.text}}</p>
            <p class=" little-font">{{space.amount1}}</p>
            <p class=" little-font mb-5">{{space.amount2}}</p>
            <div class="hidden lg:block">
              <a href="tel:0380808080">
              <button class=" button little-font w-full mb-4">call us</button>
              </a>
              <a href="mailto:events@lkhospitality.com.au">
              <button class="button little-font w-full">email</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
  <div>
    <div class="reveal-top wrapper py-8 upper-middle-font section w-full">
      <h2>Event space facilities</h2>
    </div>
    <div class="inbetween-line"></div>
    <ul class='lg:hidden wrapper py-8 lg:pt-16 list section flex flex-col flex-wrap'>
      {% for facility in page.facilities %}
        <li class="reveal-top facility lg:flex">{{facility}}</li>
      {% endfor %}
    </ul>
    <ul class='hidden lg:flex wrapper py-8 lg:pt-16 list section flex-wrap lg:flex lg:justify-between'>
      <div class=' facility-box'>
        <li class="reveal-top facility ">{{page.facility1}}</li>
        <li class="reveal-top facility ">{{page.facility2}}</li>
        <li class="reveal-top facility">{{page.facility3}}</li>
        </div>
        <div class="facility-box">
        <li class="reveal-top facility ">{{page.facility4}}</li>
        <li class="reveal-top facility ">{{page.facility5}}</li>
        <li class="reveal-top facility ">{{page.facility6}}</li>
        </div>
        <div  class="facility-box">
        <li class="reveal-top facility ">{{page.facility7}}</li>
        <li class="reveal-top facility ">{{page.facility8}}</li>
        </div>

    </ul>
    <div class="lg:hidden pb-8">
      <a href="tel:0380808080">
      <button class="animate__animated animate__fadeInUp animate__slow button little-font w-full mb-4">call us</button><!--animate__slow -->
      </a>
      <a href="mailto:events@lkhospitality.com.au">
      <button class="animate__animated animate__fadeInUp animate__slow black-button little-font w-full">email us</button><!--animate__slow -->
      </a>
    </div>
  </div>
</main>

{% include footer.html %}
