{% include head.html %}

{% include nav.html %}
<main class="pt-32 lg:pt-0 ">
  <div class="wrapper">
  <h1 class="text-left upper-middle-font mb-20 animate__animated animate__fadeInUp animate__slow">{{page.big_title}}</h1>
  <p class="my-44 center little-font max-w-lg text-left animate__animated animate__fadeInUp animate__slow">{{page.space_text}}
  </p>
  <ul class='mt-20 flex w-full justify-between upper-little-font main-color pb-4 animate__animated animate__fadeIn animate__slow'>
    <li class="inner-menu-item mr-8 max-w-sm xl:max-w-lg xl:mr-8"><a href="#">{{page.first_section_title}}</a><div class="menu-line"></div></li>
    <li class="inner-menu-item mx-8 max-w-sm xl:max-w-lg xl:mx-8"><a href="#">{{page.second_section_title}}</a><div class="menu-line"></div></li>
    <li class="inner-menu-item mx-8 max-w-sm xl:max-w-lg xl:mx-8"><a href="#">{{{page.third_section_title}}</a><div class="menu-line"></div></li>
    <li class="inner-menu-item mx-8 max-w-sm xl:max-w-lg xl:mx-8"><a href="#">{{{page.fourth_section_title}}</a><div class="menu-line"></div></li>
    <li class="inner-menu-item ml-8 max-w-sm xl:max-w-xl xl:ml-8"><a href="#">{{{page.fifth_section_title}}</a><div class="menu-line"></div></li>
  </ul>
  </div>
  <div class="inbetween-line-light"></div>
  <div class="py-16 flex justify-between wrapper">
  <div class="flex flex-col justify-between pr-16">
    <h3 class="page-section-title mb-10">{{page.first_section_title}}</h3>
    <div>
    <p class="reveal-top little-font mb-10 w-2/3">{{page.section_first_text}}</p>
    <p class="reveal-top little-font">{{page.section_second_text}}</p>
    <p class="reveal-top little-font mb-10">{{page.section_third_text}}</p>

    <button class="reveal-top button little-font w-full mb-4">find out more</button>
    <button class="reveal-top black-button little-font w-full">book the event</button>
    </div>
  </div>
    <img src="{{page.section_picture}}" alt="interior"
    class="reveal-right w-2/3">
  </div>
</div>
<div>
    <div class="reveal-top wrapper pb-8 upper-font section w-full">
      <h2>Event spase facilities</h2>
    </div>
    <div class="inbetween-line"></div>
    <ul class='wrapper py-16 list section flex flex-col flex-wrap'>
      {% for facility in page.facilities %}
      <li class="reveal-top facility my-5">{{facility}}</li>
      {% endfor %}
    </ul>

  </div>

</main>

{% include footer.html %}
